/*

*/

.version.index /* version checker */
{
	color: #000018;
	background-color: #57BC9F;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 3373.5px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 1px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;/* should not cover content below */
}

#ptopglobal
{
	width: 0.01px;
	margin-left: -100px;
}

#u177
{
	z-index: 5;
	min-height: 582px;
	background: #FFFFFF url("../images/umd%20header%201.jpg") no-repeat center center;
	background-size: cover;
}

#pu1936-6
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 41px;
	margin-left: 68px;
}

#u1936-6
{
	z-index: 58;
	width: 239px;
	min-height: 34px;
	background-color: transparent;
	line-height: 32px;
	font-size: 16px;
	text-align: left;
	color: #000000;
	font-family: '__Roboto_5';
	font-weight: 700;
	margin-left: 32px;
	position: relative;
}

#u1232
{
	z-index: 54;
	width: 220px;
	min-height: 23px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 69px;
	position: relative;
}

#u2333
{
	z-index: 181;
	width: 85px;
	min-height: 62px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 5px;
	margin-top: 17px;
	position: relative;
}

#pmenuu2098
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 42px;
	margin-left: 434px;
}

#menuu2098
{
	z-index: 70;
	width: 576px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 50px;
	position: relative;
}

#u2130
{
	width: 77px;
	background-color: transparent;
	padding-bottom: 15px;
	position: relative;
}

#u2130:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u2130:active
{
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	border-radius: 0px;
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u2131-4
{
	width: 45px;
	min-height: 19px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #000000;
	font-family: '__Roboto_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 16px;
}

#u2130:hover #u2131-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u2130:active #u2131-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u2130:hover #u2131-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2130:active #u2131-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-weight: normal;
}

#u2114
{
	width: 130px;
	background-color: transparent;
	padding-bottom: 15px;
	position: relative;
}

#u2114:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u2114:active
{
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	border-radius: 0px;
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u2117-4
{
	width: 98px;
	min-height: 19px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #000000;
	font-family: '__Roboto_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 16px;
}

#u2114:hover #u2117-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 98px;
	margin: 0px -10000px 0px 0px;
}

#u2114:active #u2117-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 98px;
	margin: 0px -10000px 0px 0px;
}

#u2114:hover #u2117-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2114:active #u2117-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-weight: normal;
}

#u2107
{
	width: 85px;
	background-color: transparent;
	padding-bottom: 15px;
	position: relative;
}

#u2107:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u2107:active
{
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	border-radius: 0px;
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u2109-4
{
	width: 53px;
	min-height: 19px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #000000;
	font-family: '__Roboto_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 16px;
}

#u2107:hover #u2109-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u2107:active #u2109-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u2107:hover #u2109-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2107:active #u2109-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-weight: normal;
}

#u2100
{
	width: 103px;
	background-color: transparent;
	padding-bottom: 15px;
	position: relative;
}

#u2100:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u2100:active
{
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	border-radius: 0px;
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u2103-4
{
	width: 71px;
	min-height: 19px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #000000;
	font-family: '__Roboto_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 16px;
}

#u2100:hover #u2103-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#u2100:active #u2103-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#u2100:hover #u2103-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2100:active #u2103-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-weight: normal;
}

#u2123
{
	width: 173px;
	background-color: transparent;
	padding-bottom: 15px;
	position: relative;
}

#u2123:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u2123:active
{
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	border-radius: 0px;
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u2124-4
{
	width: 141px;
	min-height: 19px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #000000;
	font-family: '__Roboto_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 16px;
}

#u2123:hover #u2124-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u2123:active #u2124-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u2123:hover #u2124-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2123:active #u2124-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-weight: normal;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u1883
{
	z-index: 56;
	width: 292px;
	background-color: transparent;
	margin-top: 109px;
	position: relative;
}

#u1234
{
	z-index: 55;
	width: 70px;
	min-height: 582px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1075px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u177-bw
{
	z-index: 5;
	min-height: 582px;
}

#u1036
{
	z-index: 143;
	height: 63px;
	-pie-box-shadow: 1px 1px 8px #BCBCBC;
	box-shadow: 1px 1px 8px rgba(0,0,0,0.26);
	background-color: #FFFFFF;
}

#u1036-bw
{
	z-index: 143;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 582px;
}

#u1236-6
{
	z-index: 175;
	width: 239px;
	min-height: 34px;
	background-color: transparent;
	line-height: 32px;
	font-size: 16px;
	text-align: left;
	color: #000000;
	font-family: '__Roboto_5';
	font-weight: 700;
	position: fixed;
	top: 596px;
	left: 0px;
}

#u1936-4,#u1236-4
{
	padding-top: 3px;
}

#u1936-2,#u1236-2
{
	font-family: '__Roboto_5';
	font-weight: 200;
}

#menuu1082
{
	z-index: 144;
	width: 576px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 596px;
	left: 384px;
}

#u2127,#u1111
{
	width: 77px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1114
{
	width: 77px;
	background-color: transparent;
	padding-bottom: 15px;
	position: relative;
}

#u1114:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u1114:active
{
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	border-radius: 0px;
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u2130.MuseMenuActive,#u1114.MuseMenuActive
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px;
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u1117-4
{
	width: 45px;
	min-height: 19px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #000000;
	font-family: '__Roboto_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 16px;
}

#u2130.MuseMenuActive #u2131-4,#u1114:hover #u1117-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u1114:active #u1117-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u1114.MuseMenuActive #u1117-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u1114:hover #u1117-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1114:active #u1117-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-weight: normal;
}

#u2113,#u1083
{
	width: 130px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 79px;
}

#u1086
{
	width: 130px;
	background-color: transparent;
	padding-bottom: 15px;
	position: relative;
}

#u1086:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u1086:active
{
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	border-radius: 0px;
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u2114.MuseMenuActive,#u1086.MuseMenuActive
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px;
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u1088-4
{
	width: 98px;
	min-height: 19px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #000000;
	font-family: '__Roboto_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 16px;
}

#u2114.MuseMenuActive #u2117-4,#u1086:hover #u1088-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 98px;
	margin: 0px -10000px 0px 0px;
}

#u1086:active #u1088-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 98px;
	margin: 0px -10000px 0px 0px;
}

#u1086.MuseMenuActive #u1088-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 98px;
	margin: 0px -10000px 0px 0px;
}

#u1086:hover #u1088-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1086:active #u1088-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-weight: normal;
}

#u2106,#u1118
{
	width: 85px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 211px;
}

#u1121
{
	width: 85px;
	background-color: transparent;
	padding-bottom: 15px;
	position: relative;
}

#u1121:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u1121:active
{
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	border-radius: 0px;
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u2107.MuseMenuActive,#u1121.MuseMenuActive
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px;
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u1122-4
{
	width: 53px;
	min-height: 19px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #000000;
	font-family: '__Roboto_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 16px;
}

#u2107.MuseMenuActive #u2109-4,#u1121:hover #u1122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u1121:active #u1122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u1121.MuseMenuActive #u1122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u1121:hover #u1122-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1121:active #u1122-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-weight: normal;
}

#u2099,#u1097
{
	width: 103px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 298px;
}

#u1098
{
	width: 103px;
	background-color: transparent;
	padding-bottom: 15px;
	position: relative;
}

#u1098:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u1098:active
{
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	border-radius: 0px;
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u2100.MuseMenuActive,#u1098.MuseMenuActive
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px;
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u1100-4
{
	width: 71px;
	min-height: 19px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #000000;
	font-family: '__Roboto_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 16px;
}

#u2100.MuseMenuActive #u2103-4,#u1098:hover #u1100-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#u1098:active #u1100-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#u1098.MuseMenuActive #u1100-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#u1098:hover #u1100-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1098:active #u1100-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-weight: normal;
}

#u2120,#u1090
{
	width: 173px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 403px;
}

#u1091
{
	width: 173px;
	background-color: transparent;
	padding-bottom: 15px;
	position: relative;
}

#u1091:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u1091:active
{
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	border-radius: 0px;
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u2123.MuseMenuActive,#u1091.MuseMenuActive
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px;
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u1094-4
{
	width: 141px;
	min-height: 19px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #000000;
	font-family: '__Roboto_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 16px;
}

#u2123.MuseMenuActive #u2124-4,#u1091:hover #u1094-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u1091:active #u1094-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u1091.MuseMenuActive #u1094-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u1091:hover #u1094-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1091:active #u1094-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-weight: normal;
}

#u2130.MuseMenuActive #u2131-4 p,#u2114.MuseMenuActive #u2117-4 p,#u2107.MuseMenuActive #u2109-4 p,#u2100.MuseMenuActive #u2103-4 p,#u2123.MuseMenuActive #u2124-4 p,#u1114.MuseMenuActive #u1117-4 p,#u1086.MuseMenuActive #u1088-4 p,#u1121.MuseMenuActive #u1122-4 p,#u1098.MuseMenuActive #u1100-4 p,#u1091.MuseMenuActive #u1094-4 p
{
	color: #000000;
	visibility: inherit;
	font-size: 16px;
}

#u409-4
{
	z-index: 7;
	min-height: 80px;
	background-color: transparent;
	line-height: 74px;
	font-size: 62px;
	text-align: center;
	font-family: '__Roboto_5';
	font-weight: 700;
}

#u409-4-bw
{
	z-index: 7;
	min-height: 80px;
	margin-top: 103px;
}

#u803-8
{
	z-index: 16;
	width: 762px;
	min-height: 96px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	text-align: center;
	font-family: '__Roboto_5';
	font-weight: 300;
	margin-left: 99px;
	margin-top: 42px;
	position: relative;
}

#u803-4
{
	font-weight: 700;
}

#pu406
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 121px;
}

#u406
{
	z-index: 6;
	min-height: 330px;
	background-color: #D5F19F;
	background-color: rgba(171,227,63,0.5);
	padding-bottom: 268px;
	-pie-background: rgba(171,227,63,0.5);
}

#topglobal,#methodology
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#u809-4
{
	z-index: 25;
	width: 635px;
	min-height: 53px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	text-align: center;
	font-family: '__Roboto_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 226px;
	left: 262px;
}

#u406-bw
{
	z-index: 6;
	min-height: 330px;
}

#u429-4
{
	z-index: 11;
	min-height: 80px;
	background-color: transparent;
	line-height: 74px;
	font-size: 62px;
	text-align: center;
	font-family: '__Roboto_5';
	font-weight: 700;
}

#u429-4-bw
{
	z-index: 11;
	min-height: 80px;
	margin-top: 95px;
}

#about,#impact
{
	left: -100px;
	position: relative;
}

#pu2074
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 58px;
}

#u2074
{
	z-index: 4;
	min-height: 157px;
	padding-bottom: 370px;
	background: transparent url("../images/shell%20outline%20(slanted).png") no-repeat right bottom;
	background-size: cover;
}

#u839-4
{
	z-index: 33;
	width: 486px;
	min-height: 53px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.54);
	line-height: 26px;
	font-size: 22px;
	text-align: center;
	font-family: '__Roboto_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 79px;
	left: 337px;
	-pie-background: rgba(255,255,255,0.54);
}

#u2074-bw
{
	z-index: 4;
	min-height: 157px;
	margin-top: 40px;
}

#u838-4
{
	z-index: 29;
	min-height: 80px;
	background-color: transparent;
	line-height: 74px;
	font-size: 62px;
	text-align: center;
	font-family: '__Roboto_5';
	font-weight: 700;
}

#u838-4-bw
{
	z-index: 29;
	min-height: 80px;
}

#u852
{
	z-index: 37;
	min-height: 1041.7937499999998px;
	background-color: #8CD49F;
	padding-bottom: 0px;
}

#u852_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
	padding-bottom: 169px;
}

#pu960-4
{
	width: 0.01px;
	left: 122px;
	margin-top: 123px;
	position: relative;
}

#u960-4
{
	z-index: 43;
	width: 292px;
	min-height: 37px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: '__Roboto_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u2252-4
{
	z-index: 112;
	width: 292px;
	min-height: 37px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: '__Roboto_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u2263-4
{
	z-index: 121;
	width: 292px;
	min-height: 37px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: '__Roboto_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 624px;
}

#pu956
{
	width: 0.01px;
	left: 174px;
	margin-top: 11px;
	position: relative;
}

#u956
{
	z-index: 42;
	width: 188px;
	min-height: 186px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2251
{
	z-index: 111;
	width: 188px;
	min-height: 186px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u2262
{
	z-index: 120;
	width: 188px;
	min-height: 186px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 624px;
}

#pu954-4
{
	width: 0.01px;
	left: 122px;
	margin-top: 10px;
	position: relative;
}

#u954-4
{
	z-index: 38;
	width: 292px;
	min-height: 53px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: '__Roboto_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u2250-4
{
	z-index: 107;
	width: 292px;
	min-height: 53px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: '__Roboto_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u2261-4
{
	z-index: 116;
	width: 292px;
	min-height: 53px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: '__Roboto_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 624px;
}

#pu2274-4
{
	width: 0.01px;
	left: 190px;
	margin-top: 140px;
	position: relative;
}

#u2274-4
{
	z-index: 130;
	width: 364px;
	min-height: 37px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: '__Roboto_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u2296-4
{
	z-index: 139;
	width: 364px;
	min-height: 37px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: '__Roboto_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 416px;
}

#pu2273
{
	width: 0.01px;
	left: 278px;
	margin-top: 10px;
	position: relative;
}

#u2273
{
	z-index: 129;
	width: 188px;
	min-height: 186px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2295
{
	z-index: 138;
	width: 188px;
	min-height: 186px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 416px;
}

#pu2272-4
{
	width: 0.01px;
	left: 226px;
	margin-top: 9px;
	position: relative;
}

#u2272-4
{
	z-index: 125;
	width: 292px;
	min-height: 53px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: '__Roboto_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u2294-4
{
	z-index: 134;
	width: 292px;
	min-height: 53px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: '__Roboto_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 416px;
}

#u852-bw
{
	z-index: 37;
	min-height: 1041.7937499999998px;
	margin-top: 435px;
}

#u962
{
	z-index: 47;
	min-height: 378px;
	background: #FFFFFF url("../images/umd%20header%202.jpg") no-repeat center center;
	background-size: cover;
}

#u962_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
	padding-bottom: 23px;
}

#team,#dogood
{
	position: relative;
}

#u986-4
{
	z-index: 50;
	width: 916px;
	min-height: 37px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	text-align: center;
	color: #FFFFFF;
	font-family: '__Roboto_5';
	font-weight: 700;
	left: 123px;
	margin-top: 25px;
	position: relative;
}

#u2041
{
	z-index: 64;
	width: 180px;
	background-color: transparent;
	left: 490px;
	margin-top: 24px;
	position: relative;
}

#u2051-4
{
	z-index: 66;
	width: 396px;
	min-height: 86px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	color: #000000;
	text-align: center;
	font-family: '__Roboto_5';
	font-weight: 700;
	font-style: italic;
	left: 382px;
	margin-top: 31px;
	position: relative;
}

#u962-bw
{
	z-index: 47;
	min-height: 378px;
}

#pu2233
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1px;
}

#u2233
{
	z-index: 3;
	height: 188px;
	background-color: #00AE77;
}

#u2233-bw
{
	z-index: 3;
	height: 188px;
}

#u2219
{
	z-index: 102;
	min-height: 153px;
	padding-bottom: 35px;
	background: transparent url("../images/footer%20shapes%20width.png") no-repeat center bottom;
	background-size: cover;
}

#u177_align_to_page,#u406_align_to_page,#u2074_align_to_page,#u2219_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
}

#u2230-4
{
	z-index: 103;
	width: 332px;
	min-height: 59px;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: '__Roboto_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 94px;
	left: 414px;
}

#u2219-bw
{
	z-index: 102;
	min-height: 153px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

@font-face
{
	font-family: '__Roboto_5';
	src: url('../fonts/roboto-regular-webfont.eot');
	src: local('☺'), url('../fonts/roboto-regular-webfont.woff') format('woff'), url('../fonts/roboto-regular-webfont.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Roboto_5';
	src: url('../fonts/roboto-bold-webfont.eot');
	src: local('☺'), url('../fonts/roboto-bold-webfont.woff') format('woff'), url('../fonts/roboto-bold-webfont.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: '__Roboto_5';
	src: url('../fonts/roboto-bolditalic-webfont.eot');
	src: local('☺'), url('../fonts/roboto-bolditalic-webfont.woff') format('woff'), url('../fonts/roboto-bolditalic-webfont.svg') format('svg');
	font-weight: 700;
	font-style: italic;
}

@font-face
{
	font-family: '__Roboto_5';
	src: url('../fonts/roboto-thin-webfont.eot');
	src: local('☺'), url('../fonts/roboto-thin-webfont.woff') format('woff'), url('../fonts/roboto-thin-webfont.svg') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face
{
	font-family: '__Roboto_5';
	src: url('../fonts/roboto-light-webfont.eot');
	src: local('☺'), url('../fonts/roboto-light-webfont.woff') format('woff'), url('../fonts/roboto-light-webfont.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

